section.cac-buoc-thuc-hien
	.container
		.row
			.col.text-center
				h2.h2 Các bước thực hiện
	article.news-list
		.container
			.row
				.owl-carousel
					.item
						a(href="#")
							figure
								.img
									img.img-fluid(src="../img/03_Dich_vu_ct/cac_buoc_thuc_hien_1.png", alt="alt")
								figcaption
									h6 Lấy thông tin:
									p Thông tin được cập nhập từ nững nguồn mới nhất trên thị trường húng tôi nghiên cứu các từ khóa tốt nhất để đảm bảo quá trình bài viết đạt chuẩn.
									img(src="../img/002_3/01.png", alt="")
					.item
						a(href="#")
							figure
								.img
									img.img-fluid(src="../img/03_Dich_vu_ct/cac_buoc_thuc_hien_2.png", alt="alt")
								
								figcaption
									h6 Viết bài:
									p Bố cục bài viết, các phương pháp viết bài và tiêu đề là những yếu tố quyết định mà chúng tôi vô cùng chú trọng và kết nối với từ khóa và cho ra những bài viết đạt chuẩn SEO.
									img(src="../img/002_3/02.png", alt="")
					.item
						a(href="#")
							figure
								.img
									img.img-fluid(src="../img/03_Dich_vu_ct/cac_buoc_thuc_hien_3.png", alt="alt")
							
								figcaption
									h6 Khách hàng duyệt:
									p Bạn nghỉ gì về bài viết của chúng tôi? Tất cả những ý kiến của doanh nghiệp bạn đều là đóng góp cho bài viết chúng tôi hay hơn trong mắt khác hàng.
									img(src="../img/002_3/03.png", alt="")
					.item
						a(href="#")
							figure
								.img
									img.img-fluid(src="../img/03_Dich_vu_ct/cac_buoc_thuc_hien_4.png", alt="alt")
								
								figcaption
									h6 Nhập lên website:
									p Chúng tôi đảm bảo bài viết hoàn chỉnh về nội dung và chất lượng để website bạn luôn tươi mới, tạo ấn tưởng đển quyết định mua hàng của họ.
									img(src="../img/002_3/04.png", alt="")
