section.banner_gioithieu
	img(src="../img/03_Dich_vu_ct/banner.png", alt="")
	.link
		a(href="#")
			p Trang chủ >
		//- a(href="#")
		//- 	p >
		a(href="#")
			p Dịch vụ >
		//- a(href="#")
		//- 	p >
		a(href="#")
			p Bài viết chuẩn seo
	.text
		h1 Dịch vụ