section.doitac
	article.news-list
		.container
			.row
				.owl-carousel
					.item
						a(href="#")
							figure
								.img
									img.img-fluid(src="./img/002/doitac_1.png", alt="alt")
					.item
						a(href="#")
							figure
								.img
									img.img-fluid(src="./img/002/doitac_1.png", alt="alt")
					.item
						a(href="#")
							figure
								.img
									img.img-fluid(src="./img/002/doitac_1.png", alt="alt")
					.item
						a(href="#")
							figure
								.img
									img.img-fluid(src="./img/002/doitac_1.png", alt="alt")
					.item
						a(href="#")
							figure
								.img
									img.img-fluid(src="./img/002/doitac_1.png", alt="alt")
