extends _layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block header
	include ../lib/header/h-4/index.pug
block body
	include ../lib/nav/n-7/index.pug
	include ../lib/nav/n-7/index.pug
	include ../lib/banner_2/b_1/index.pug
	include ../lib/bai-viet/v-1/index.pug
	include ../lib/goi-dich-vu/g-1/index.pug
	include ../lib/cac-buoc/c-3/index.pug
	include ../lib/doi_tac/d-1/index.pug
block footer
	include ../lib/footer/f-6/index.pug
