section.baiviet
	.container
		.row
			.col-md-7.anh
				img(src="../img/03_Dich_vu_ct/bai_viet.png", alt="")
			.col-md-5
				.text
					h1 Bài viết chuẩn seo
					h6 Bạn đã sở hữu một website trực quan, sống động những vẫn không có thời gian để viết bài?
					p Với dịch vụ bài viết chuẩn SEO tại Content Tử Tế, đội ngũ chúng tôi sẽ không ngừng sáng tạo và mnag lại cho bạn những bài viết hấp dẫn, ngôn từ sinh dodongj kết hợp với các từ khóa chất lượng.
					p Chúng tôi sẽ giúp bạn chăm sóc website luôn tươi mới, thu hút được nhiều người xe và được Google đánh giá cao hơn. Content Tử Tế am kết một bài viết chuẩn SEO sẽ đem lại những giá trị thật sự cho bạn.