section.goi-dich-vu
	//- img(src="../img/002_3/goi-dich-vu.png", alt="")
	.container
		h1 Gói dịch vụ
		.row.dv
			.col-sm-12.col-md-4.dv-1
				a(href="")
					.dv-2
						.img
							img(src="../img/03_Dich_vu_ct/bai_viet_1.png", alt="")
						p 100 bài SEO 600 từ 
			.col-sm-12.col-md-4.dv-1
				a(href="")
					.dv-2
						.img
							img(src="../img/03_Dich_vu_ct/bai_viet_2.png", alt="")
						p 30 bài SEO 600 từ
			.col-sm-12.col-md-4.dv-1
				a(href="")
					.dv-2
						.img
							img(src="../img/03_Dich_vu_ct/bai_viet_3.png", alt="")
						p 100 bài SEO 600 từ 