footer.canhcam-footer-6(bg-img='./img/bg/footer-bg.png')
	.linkfooter
		.container
			.row
				.col-md.col-lg.mt-5.mt-lg-0
					.img.mb-4
						img(src="../img/002/footer_logo.png", alt="")
					nav.list-group.text-center.text-md-left
						.list-group-item.mb-3
							a(href="#") LL1G Ba Vì, Phường 5, Quận 10, Thành phố Hồ Chí Minh
						.list-group-item
							a(href="#") Hotline: 098 098098
						.list-group-item
							a(href="#") Email: contact@dichvucontents.com
				.col-md.col-lg.mt-5.mt-lg-0
					h4.text-center.text-md-left Giới thiệu
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Tổng quan 
						.list-group-item
							a(href="#") Tầm nhìn - Sứ mệnh
						.list-group-item
							a(href="#") Tại sao chọn chúng tôi
						.list-group-item
							a(href="#") Cơ cấu tổ chúc
						.list-group-item
							a(href="#") Tuyển dụng
				.col-md.col-lg.mt-5.mt-lg-0
					h4.text-center.text-md-left Dịch vụ Content
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Bài Fanpage Social
						.list-group-item
							a(href="#") Bài viết chuẩn SEO
						.list-group-item
							a(href="#") Bìa viết Facebook ads, quảng cáo sản phẩm
						.list-group-item
							a(href="#") Bài báo, quảng cáo sản phẩm, PR thương hiệu
						.list-group-item
							a(href="#") Landingp page bán hàng trực tiếp
						.list-group-item
							a(href="#") bài PR đăng website
	.linkfooter_2
		.container
			.row
				.col.email
					h6 Đăng ký nhận bản tin
					p Kết nối với chúng tôi đê nhận được thông tin sớm nhất
				.col.email_1
					.email_1_1
						form
							input(type='search', placeholder="Điền địa chỉ mail của bạn...")
							button.btn.btn-send Đăng ký
				.col.lienket
					nav
						ul
							li
								a(href="").fab.fa-facebook-f
							li
								a(href="").fab.fa-youtube
							li
								a(href="").fab.fa-google-plus-g

	.copyright
		.container
			.row.align-items-center
				.col-md.text-center.text-md-left.mb-4.mb-md-0
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Điều kiện và Điều khoản
						.list-group-item
							a(href="#") Chính sách bảo mật
						.list-group-item
							a(href="#") Sitemap
				.col-md-auto.text-center.text-md-right Copyright 2018 Dịch vị Content. All right reserved. Designed by Cánh Cam 

